{% extends 'base.html' %}

{% block content %}
{% for message in messages %}
<div class="alert alert-success alert-dismissible shadow-inset fade show" role="alert">
    <span class="alert-inner--icon"><span class="far fa-thumbs-up"></span></span>
    <span class="alert-inner--text"><strong>Well done!</strong> {{ message }}.</span>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endfor %}
<div class="container z-2">
    <div class="row">
        <div class="col">
            <h2 class="h5">{{ title }}</h2>
            {{ form.non_field_errors }}
        </div>
    </div>
</div>

<div class="section section-lg pt-4">
    <div class="container">
        <form method="POST">{% csrf_token %}
            <div class="row mb-4 mb-lg-5">
                <div class="col-lg-6 col-sm-6">
                    <div class="form-group">
                        <label for="{{ form.competition.id_for_label }}">Competition</label>
                        {{ form.competition }}
                        <div class="invalid-feedback">
                            {{ form.competition.errors }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="{{ form.home_team.id_for_label }}">Home Team</label>
                        {{ form.home_team }}
                        <div class="invalid-feedback">
                            {{ form.home_team.errors }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="{{ form.home_score.id_for_label }}">Home Score</label>
                        {{ form.home_score }}
                        <div class="invalid-feedback">
                            {{ form.home_score.errors }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="{{ form.status.id_for_label }}">Status</label>
                        {{ form.status }}
                        <div class="invalid-feedback">
                            {{ form.status.errors }}
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-6">
                    <div class="form-group">
                        <label for="{{ form.gameweek.id_for_label }}">Gameweek</label>
                        {{ form.gameweek }}
                        <div class="invalid-feedback">
                            {{ form.gameweek.errors }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="{{ form.away_team.id_for_label }}">Away Team</label>
                        {{ form.away_team }}
                        <div class="invalid-feedback">
                            {{ form.away_team.errors }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="{{ form.away_score.id_for_label }}">Away Score</label>
                        {{ form.away_score }}
                        <div class="invalid-feedback">
                            {{ form.away_score.errors }}
                        </div>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-block btn-primary">Save</button>
        </form>
    </div>
</div>
{% endblock content %}

{% block script %}
<script>
    $("#id_competition").addClass("custom-select");
    $("#id_gameweek").addClass("form-control");
    $("#id_home_team").addClass("custom-select");
    $("#id_away_team").addClass("custom-select");
    $("#id_home_score").addClass("form-control");
    $("#id_away_score").addClass("form-control");
    $("#id_status").addClass("custom-select");

</script>
{% endblock %}