<!DOCTYPE html>
<html lang="en">

<head> 
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- Primary Meta Tags -->
<title>Football App</title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="title" content="Football App">

<!-- Fontawesome -->
<link type="text/css" href="https://cdn.statically.io/gh/andifathulms/neuromorphism/main/vendor/%40fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">

<!-- Pixel CSS -->
<link type="text/css" href="https://cdn.statically.io/gh/andifathulms/neuromorphism/main/css/neumorphism.css" rel="stylesheet">

<!-- NOTICE: You can use the _analytics.html partial to include production code specific code & trackers -->

</head>

<body>
    {% include 'snippets/header.html' %}
    <main>
        <section class="section section bg-soft pb-5 overflow-hidden z-2">
            {% block content %}
            {% endblock content %} 
        </section>       
    </main>
    {% include 'snippets/footer.html' %}

    <!-- Core -->
<script src="https://cdn.statically.io/gh/andifathulms/neuromorphism/main/vendor/jquery/dist/jquery.min.js"></script>
<script src="https://cdn.statically.io/gh/andifathulms/neuromorphism/main/vendor/popper.js/dist/umd/popper.min.js"></script>
<script src="https://cdn.statically.io/gh/andifathulms/neuromorphism/main/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="https://cdn.statically.io/gh/andifathulms/neuromorphism/main/vendor/headroom.js/dist/headroom.min.js"></script>

<!-- Vendor JS -->
<script src="https://cdn.statically.io/gh/andifathulms/neuromorphism/main/vendor/onscreen/dist/on-screen.umd.min.js"></script>
<script src="https://cdn.statically.io/gh/andifathulms/neuromorphism/main/vendor/nouislider/distribute/nouislider.min.js"></script>
<script src="https://cdn.statically.io/gh/andifathulms/neuromorphism/main/vendor/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
<script src="https://cdn.statically.io/gh/andifathulms/neuromorphism/main/vendor/waypoints/lib/jquery.waypoints.min.js"></script>
<script src="https://cdn.statically.io/gh/andifathulms/neuromorphism/main/vendor/jarallax/dist/jarallax.min.js"></script>
<script src="https://cdn.statically.io/gh/andifathulms/neuromorphism/main/vendor/jquery.counterup/jquery.counterup.min.js"></script>
<script src="https://cdn.statically.io/gh/andifathulms/neuromorphism/main/vendor/jquery-countdown/dist/jquery.countdown.min.js"></script>
<script src="https://cdn.statically.io/gh/andifathulms/neuromorphism/main/vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
<script src="https://cdn.statically.io/gh/andifathulms/neuromorphism/main/vendor/prismjs/prism.js"></script>

<script async defer src="https://buttons.github.io/buttons.js"></script>

<!-- Neumorphism JS -->
<script src="https://cdn.statically.io/gh/andifathulms/neuromorphism/main/assets/js/neumorphism.js"></script>

{% block script %}{% endblock %}

</body>

</html>